<%= javascript_include_tag 'application' %>
<h1>Statistiche</h1>
<table class="highlight">
	<thead>
		<tr><th>#</th><th>Meta</th><th>Ricerche</th><th>Partenza</th><th>Ricerche</th></tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>Dato 1,2</td>
			<td>Dato 1,3</td>
			<td>Dato 1,4</td>
			<td>Dato 1,5</td>
		</tr>
		<tr>
			<td>2</td>
			<td>Dato 2,2</td>
			<td>Dato 2,3</td>
			<td>Dato 2,4</td>
			<td>Dato 2,5</td>
		</tr>
		<tr>
			<td>3</td>
			<td>Dato 3,2</td>
			<td>Dato 3,3</td>
			<td>Dato 3,4</td>
			<td>Dato 3,5</td>
		</tr>
		<tr>
			<td>4</td>
			<td>Dato 4,2</td>
			<td>Dato 4,3</td>
			<td>Dato 4,4</td>
			<td>Dato 4,5</td>
		</tr>
		<tr>
			<td>5</td>
			<td>Dato 5,2</td>
			<td>Dato 5,3</td>
			<td>Dato 5,4</td>
			<td>Dato 5,5</td>
		</tr>
	</tbody>
</table>
