<!DOCTYPE html>
<html>
    
    <body>

        <%= render 'layouts/center' %>

        <div id ="button_div">
            <%= link_to "Ricerca", "javascript:void(0)", id: "ricercavoli", class: "btn waves-effect waves-light tooltipped pulse hoverable",  "data-position" => "bottom", "data-tooltip" => "Sarai reindirizzato sul sito di Skyscanner" %>
            <%= link_to "Ricerca", "javascript:void(0)", id: "ricercahotel", style: "display: none", class: "btn waves-effect waves-light tooltipped pulse hoverable",  "data-position" => "bottom", "data-tooltip" => "Sarai reindirizzato sul sito di Skyscanner" %>
            <%= link_to "Ricerca", "javascript:void(0)", id: "ricercaauto", style: "display: none", class: "btn waves-effect waves-light tooltipped pulse hoverable",  "data-position" => "bottom", "data-tooltip" => "Sarai reindirizzato sul sito di Skyscanner" %>
        <div>

        <div style="clear:both;"></div>
        <br/>        

    </body>

</html>
