<nav>
    <div class="nav-wrapper">
      <%= image_tag("logo.jpg", size: "150x60",:alt => "LOGO") %>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="waves-effect waves-light btn">Home</a></li>
        <li><a href="#">Accedi</a></li>
        <li><a href="#">Registrati</a></li>
      </ul>
    </div>
  </nav>