// Place all the styles related to the Contatti controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "materialize/components/color-variables";
$primary-color: color("blue", "lighten-2") !default;
$secondary-color: color("yellow", "base") !default;
@import 'materialize';
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

.div_superiore {
	float: left;
	font-size: 20pt;
	padding-left: 5px;
}

h1{
	color: white;
}

h3 {
	color: white;
}

.div_inferiore{
	padding-bottom: 100px;
}

.logo_email{
	height: 20px;
    width: 30px;
}

.logo_email:hover{
	transform: scale(1.5,1.5);
}

.div_inferiore{
	font-size: 15pt;
}

.s_image_sx{
	float: left;
	padding-right: 10px;
	padding-left: 10px;
}

.s_image_dx{
	float: left;
	padding-left: 10px;
}

.s{
	float:left;
	padding-left: 5px;
}

#accedi {
	font_size: 10pt;
}

