<p>Ciao <%= @resource.email %>!</p>

<p>Qualcuno ha richiesto il link per modificare la tua password. Puoi farlo attraverso il seguente link.</p>

<p><%= link_to 'Cambia la mia password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se non l'hai richiesto tu, ignore questa email.</p>
<p>La tua password non cambierà finché non accedi al link qui sopra e ne creerai una nuova.</p>
