<optgroup label="Italia">
  <option id="6537821" value="aho" label="Alghero">Alghero</option>
  <option id="6542126" value="aoi" label="Ancona">Ancona</option>
  <option id="6542001" value="bri" label="Bari">Bari</option>
  <option id="6541998" value="blq" label="Bologna">Bologna</option>
  <option id="6540125" value="cag" label="Cagliari">Cagliari</option>
  <option id="6541468" value="cta" label="Catania">Catania</option>
  <option id="3176219" value="goa" label="Genova">Genova</option>
  <option id="3176959" value="flr" label="Firenze">Firenze Peretola</option>
  <option id="6534232" value="suf" label="Lamezia Terme">Lamezia Terme</option>
  <option id="3173435" value="mila" label="Milano">Milano (Qualsiasi)</option>
  <option id="3173435" value="bgy" label="Milano">Milano Bergamo Orio al Serio</option>
  <option id="3173435" value="lin" label="Milano">Milano Linate (LIN)</option>
  <option id="3173435" value="mxp" label="Milano">Milano Malpensa (MXP)</option>
  <option id="3172394" value="nap" label="Napoli">Napoli</option>
  <option id="3172087" value="olb" label="Olbia">Olbia</option>
  <option id="6542127" value="pmo" label="Palermo">Palermo</option>
  <option id="3171457" value="pmf" label="Parma">Parma</option>
  <option id="3171180" value="peg" label="Perugia">Perugia</option>
  <option id="3171168" value="psr" label="Pescara">Pescara</option>
  <option id="3170647" value="psa" label="Pisa">Pisa</option>
  <option id="2523630" value="reg" label="Reggio Calabria">Reggio Calabria</option>
  <option id="3169361" value="rmi" label="Rimini">Rimini</option>
  <option id="3169070" value="rome" label="Roma">Roma (Qualsiasi)</option>
  <option id="3169070" value="cia" label="Roma">Roma Ciampino (CIA)</option>
  <option id="3169070" value="fco" label="Roma">Roma Fiumicino (FCO)</option>
  <option id="3165525" value="trn" label="Torino">Torino</option>
  <option id="3165186" value="trs" label="Trieste">Trieste</option>
  <option id="3164603" value="veni" label="Venezia">Venezia (Qualsiasi)</option>
  <option id="3164603" value="vce" label="Venezia">Venezia Marco Polo</option>
  <option id="3164603" value="tsf" label="Venezia">Venezia Treviso Sant'Angelo</option>
  <option id="3164527" value="vrn" label="Verona">Verona</option>
</optgroup>
<!-- Europa -->
<optgroup label="Europa">
  <option id="264371" value="ath" label="Atene">Atene</option>
  <option id="2759794" value="ams" label="Amsterdam">Amsterdam</option>
  <option id="6356055" value="bcn" label="Barcellona">Barcellona</option>
  <option id="2950159" value="berl" label="Berlino">Berlino (Qualsiasi)</option>
  <option id="2950159" value="sxf" label="Berlino">Berlino Schoenefield</option>
  <option id="2950159" value="txl" label="Berlino">Berlino Tegel</option>
  <option id="2618424" value="cope" label="Copenaghen">Copenaghen</option>
  <option id="2964574" value="dub" label="Dublino">Dublino</option>
  <option id="7285902" value="gva" label="Ginevra">Ginevra</option>
  <option id="658226" value="hel" label="Helsinki">Helsinki</option>
  <option id="745044" value="ista" label="Instabul">Instabul (Qualsiasi)</option>
  <option id="2267057" value="lis" label="Lisbona">Lisbona</option>
  <option id="2643743" value="lond" label="Londra">Londra (Qualsiasi)</option>
  <option id="2643743" value="lcy" label="Londra">Londra City</option>
  <option id="2643743" value="lgw" label="Londra">Londra Gatwick</option>
  <option id="2643743" value="lhr" label="Londra">Londra Heatrow</option>
  <option id="2643743" value="ltn" label="Londra">Londra Luton</option>
  <option id="2643743" value="sen" label="Londra">Londra Southend</option>
  <option id="2643743" value="stn" label="Londra">Londra Stansted</option>
  <option id="3117735" value="mad" label="Madrid">Madrid</option>
  <option id="2993458" value="muc" label="Monaco di Baviera">Monaco di Baviera</option>
  <option id="524901" value="mosc" label="Mosca">Mosca (Qualsiasi)</option>
  <option id="6453366" value="oslo" label="Oslo">Oslo (Qualsiasi)</option>
  <option id="6455259" value="pari" label="Parigi">Parigi (Qualsiasi)</option>
  <option id="6455259" value="bva" label="Parigi">Parigi Beauvais</option>
  <option id="6455259" value="cdg" label="Parigi">Parigi Charles De Gaulle</option>
  <option id="6455259" value="ory" label="Parigi">Parigi Orly</option>
  <option id="3067696" value="prg" label="Praga">Praga</option>
  <option id="2673730" value="stoc" label="Stoccolma">Stoccolma (Qualsiasi)</option>
  <option id="6695624" value="wars" label="Varsavia">Varsavia (Qualsiasi)</option>
  <option id="2761369" value="vie" label="Vienna">Vienna</option>
</optgroup>
