<option id="Alghero" value="aho">Alghero</option>
<option id="Ancona" value="aoi">Ancona</option>
<option id="Bari" value="bri">Bari</option>
<option id="Bologna" value="blq">Bologna</option>
<option id="Cagliari" value="cag">Cagliari</option>
<option id="Catania" value="cta">Catania</option>
<option id="Firenze" value="flr">Firenze Peretola</option>
<option id="Lamezia" value="suf">Lamezia Terme</option>
<option id="Napoli" value="nap">Napoli</option>
<option id="Roma" value="rome">Roma (Qualsiasi)</option>
<option id="Roma" value="cia">Roma Ciampino (CIA)</option>
<option id="Roma" value="fco">Roma Fiumicino (FCO)</option>
<option id="Genova" value="goa">Genova</option>
<option id="Milano" value="mila">Milano (Qualsiasi)</option>
<option id="Milano" value="bgy">Milano Bergamo Orio al Serio</option>
<option id="Milano" value="lin">Milano Linate (LIN)</option>
<option id="Milano" value="mxp">Milano Malpensa (MXP)</option>
<option id="Olbia" value="olb">Olbia</option>
<option id="Palermo" value="pmo">Palermo</option>
<option id="Parma" value="pmf">Parma</option>
<option id="Perugia" value="peg">Perugia</option>
<option id="Pescara" value="psr">Pescara</option>
<option id="Pisa" value="psa">Pisa</option>
<option id="Reggio_Calabria" value="reg">Reggio Calabria</option>
<option id="Rimini" value="rmi">Rimini</option>
<option id="Torino" value="trn">Torino</option>
<option id="Venezia" value="veni">Venezia (Qualsiasi)</option>
<option id="Venezia" value="vce">Venezia Marco Polo</option>
<option id="Venezia" value="tsf">Venezia Treviso Sant'Angelo</option>
<option id="Verona" value="vrn">Verona</option>
<option id="Trieste" value="trs">Trieste</option>
