<option id="Bari" value="bri">Bari</option>
<option id="Roma" value="rome">Roma (Qualsiasi)</option>
<option id="Roma" value="cia">Roma Ciampino (CIA)</option>
<option id="Roma" value="fco">Roma Fiumicino (FCO)</option>
<option id="Milano" value="mila">Milano (Qualsiasi)</option>
<option id="Milano" value="lin">Milano Linate (LIN)</option>
<option id="Milano" value="mxp">Milano Malpensa (MXP)</option>
<option id="Torino" value="trn">Torino</option>