<optgroup label="Italia">
  <option id="Alghero" value="aho">Alghero</option>
  <option id="Ancona" value="aoi">Ancona</option>
  <option id="Bari" value="bri">Bari</option>
  <option id="Bologna" value="blq">Bologna</option>
  <option id="Cagliari" value="cag">Cagliari</option>
  <option id="Catania" value="cta">Catania</option>
  <option id="Firenze" value="flr">Firenze Peretola</option>
  <option id="Lamezia" value="suf">Lamezia Terme</option>
  <option id="Napoli" value="nap">Napoli</option>
  <option id="Roma" value="rome">Roma (Qualsiasi)</option>
  <option id="Roma" value="cia">Roma Ciampino (CIA)</option>
  <option id="Roma" value="fco">Roma Fiumicino (FCO)</option>
  <option id="Genova" value="goa">Genova</option>
  <option id="Milano" value="mila">Milano (Qualsiasi)</option>
  <option id="Milano" value="bgy">Milano Bergamo Orio al Serio</option>
  <option id="Milano" value="lin">Milano Linate (LIN)</option>
  <option id="Milano" value="mxp">Milano Malpensa (MXP)</option>
  <option id="Olbia" value="olb">Olbia</option>
  <option id="Palermo" value="pmo">Palermo</option>
  <option id="Parma" value="pmf">Parma</option>
  <option id="Perugia" value="peg">Perugia</option>
  <option id="Pescara" value="psr">Pescara</option>
  <option id="Pisa" value="psa">Pisa</option>
  <option id="Reggio_Calabria" value="reg">Reggio Calabria</option>
  <option id="Rimini" value="rmi">Rimini</option>
  <option id="Torino" value="trn">Torino</option>
  <option id="Venezia" value="veni">Venezia (Qualsiasi)</option>
  <option id="Venezia" value="vce">Venezia Marco Polo</option>
  <option id="Venezia" value="tsf">Venezia Treviso Sant'Angelo</option>
  <option id="Verona" value="vrn">Verona</option>
  <option id="Trieste" value="trs">Trieste</option>
</optgroup>
<!-- Europa -->
<optgroup label="Europa">
  <option id="Atene" value="ath">Atene</option>
  <option id="Amsterdam" value="ams">Amsterdam</option>
  <option id="Barcellona" value="bcn">Barcellona</option>
  <option id="Berlino" value="berl">Berlino (Qualsiasi)</option>
  <option id="Berlino" value="sxf">Berlino Schoenefield</option>
  <option id="Berlino" value="txl">Berlino Tegel</option>
  <option id="Copenaghen" value="cope">Copenaghen</option>
  <option id="Dublino" value="dub">Dublino</option>
  <option id="Ginevra" value="gva">Ginevra</option>
  <option id="Helsinki" value="hel">Helsinki</option>
  <option id="Istanbul" value="ista">Instabul (Qualsiasi)</option>
  <option id="Lisbona" value="lis">Lisbona</option>
  <option id="Londra" value="lond">Londra (Qualsiasi)</option>
  <option id="Londra" value="lcy">Londra City</option>
  <option id="Londra" value="lgw">Londra Gatwick</option>
  <option id="Londra" value="lhr">Londra Heatrow</option>
  <option id="Londra" value="ltn">Londra Luton</option>
  <option id="Londra" value="sen">Londra Southend</option>
  <option id="Londra" value="stn">Londra Stansted</option>
  <option id="Oslo" value="oslo">Oslo (Qualsiasi)</option>
  <option id="Madrid" value="mad">Madrid</option>
  <option id="Monaco_di_Baviera" value="muc">Monaco di Baviera</option>
  <option id="Mosca" value="mosc">Mosca (Qualsiasi)</option>
  <option id="Parigi" value="pari">Parigi (Qualsiasi)</option>
  <option id="Parigi" value="cdg">Parigi Charles De Gaulle</option>
  <option id="Parigi" value="ory">Parigi Orly</option>
  <option id="Parigi" value="bva">Parigi Beauvais</option>
  <option id="Praga" value="prg">Praga</option>
  <option id="Vienna" value="vie">Vienna</option>
  <option id="Stoccolma" value="stoc">Stoccolma (Qualsiasi)</option>
  <option id="varsavia" value="wars">Varsavia (Qualsiasi)</option>
</optgroup>
