<optgroup label="Italia">
  <option id="Alghero" value="27536503">Alghero</option>
  <option id="Ancona" value="27536583">Ancona</option>
  <option id="Bari" value="27539556">Bari</option>
  <option id="Bologna" value="27539470">Bologna</option>
  <option id="Cagliari" value="27539679">Cagliari</option>
  <option id="Catania" value="27540562">Catania</option>
  <option id="Firenze" value="27541640">Firenze</option>
  <option id="Genova" value="27541884">Genova</option>
  <option id="Lamezia" value="27546311">Lamezia Terme</option>
  <option id="Milano" value="27544068">Milano</option>
  <option id="Napoli" value="27545086">Napoli</option>
  <option id="Olbia" value="27545213">Olbia</option>
  <option id="Palermo" value="27545989">Palermo</option>
  <option id="Parma" value="27545986">Parma</option>
  <option id="Perugia" value="27545929">Perugia</option>
  <option id="Pescara" value="27546050">Pescara</option>
  <option id="Pisa" value="27546040">Pisa</option>
  <option id="Reggio_Calabria" value="27546148">Reggio Calabria</option>
  <option id="Rimini" value="27546187">Rimini</option>
  <option id="Roma" value="27539793">Roma</option>
  <option id="Torino" value="27547248">Torino</option>
  <option id="Trieste" value="27547250">Trieste</option>
  <option id="Venezia" value="27547373">Venezia</option>
  <option id="Verona" value="27547432">Verona</option>
</optgroup>
<!-- Europa -->
<optgroup label="Europa">
  <option id="Atene" value="27548174">Atene</option>
  <option id="Amsterdam" value="27536561">Amsterdam</option>
  <option id="Barcellona" value="27548283">Barcellona</option>
  <option id="Berlino" value="27547053">Berlino</option>
  <option id="Copenaghen" value="27539902">Copenaghen</option>
  <option id="Dublino" value="27540823">Dublino</option>
  <option id="Ginevra" value="33735985">Ginevra</option>
  <option id="Helsinki" value="27542027">Helsinki</option>
  <option id="Istanbul" value="27542903">Instabul</option>
  <option id="Lisbona" value="27544072">Lisbona</option>
  <option id="Londra" value="27544008">Londra</option>
  <option id="Madrid" value="27544850">Madrid</option>
  <option id="Monaco_di_Baviera" value="27545034">Monaco di Baviera</option>
  <option id="Mosca" value="27539438">Mosca</option>
  <option id="Oslo" value="27538634">Oslo</option>
  <option id="Parigi" value="27539733">Parigi</option>
  <option id="Praga" value="27546033">Praga</option>
  <option id="Stoccolma" value="27539477">Stoccolma</option>
  <option id="Varsavia" value="27547454">Varsavia</option>
  <option id="Vienna" value="27547395">Vienna</option>
</optgroup>
