<optgroup label="Italia">
  <!-- <option id="Alghero" value="aho">Alghero</option>
  <option id="Ancona" value="aoi">Ancona</option>
  <option id="Bari" value="bri">Bari</option>
  <option id="Bologna" value="blq">Bologna</option>
  <option id="Cagliari" value="cag">Cagliari</option>
  <option id="Catania" value="cta">Catania</option>
  <option id="Firenze" value="flr">Firenze Peretola</option>
  <option id="Lamezia" value="suf">Lamezia Terme</option>
  <option id="Napoli" value="nap">Napoli</option> -->
  <option id="Roma" value="27539793">Roma</option>
  <!-- <option id="Genova" value="goa">Genova</option>
  <option id="Milano" value="mila">Milano</option>
  <option id="Olbia" value="olb">Olbia</option>
  <option id="Palermo" value="pmo">Palermo</option>
  <option id="Parma" value="pmf">Parma</option>
  <option id="Perugia" value="peg">Perugia</option>
  <option id="Pescara" value="psr">Pescara</option>
  <option id="Pisa" value="psa">Pisa</option>
  <option id="Reggio_Calabria" value="reg">Reggio Calabria</option>
  <option id="Rimini" value="rmi">Rimini</option>
  <option id="Torino" value="trn">Torino</option>
  <option id="Venezia" value="veni">Venezia</option>
  <option id="Verona" value="vrn">Verona</option>
  <option id="Trieste" value="trs">Trieste</option> -->
</optgroup>
<!-- Europa -->
<optgroup label="Europa">
  <!-- <option id="Atene" value="ath">Atene</option>
  <option id="Amsterdam" value="ams">Amsterdam</option>
  <option id="Barcellona" value="bcn">Barcellona</option>
  <option id="Berlino" value="berl">Berlino</option>
  <option id="Copenaghen" value="cope">Copenaghen</option>
  <option id="Dublino" value="dub">Dublino</option>
  <option id="Ginevra" value="gva">Ginevra</option>
  <option id="Helsinki" value="hel">Helsinki</option>
  <option id="Istanbul" value="ista">Instabul</option>
  <option id="Lisbona" value="lis">Lisbona</option>
  <option id="Londra" value="lond">Londra</option>
  <option id="Oslo" value="oslo">Oslo</option>
  <option id="Madrid" value="mad">Madrid</option>
  <option id="Monaco_di_Baviera" value="muc">Monaco di Baviera</option>
  <option id="Mosca" value="mosc">Mosca</option>
  <option id="Parigi" value="pari">Parigi</option>
  <option id="Praga" value="prg">Praga</option>
  <option id="Vienna" value="vie">Vienna</option>
  <option id="Stoccolma" value="stoc">Stoccolma</option>
  <option id="varsavia" value="wars">Varsavia</option> -->
</optgroup>