<div id="dinamic_container">

    <div class="left_alignment">
        <label>Città di partenza</label>
        <select id="cittaPartenza">
            <option value="none" disabled selected>Seleziona la città di partenza</option>
            <optgroup id = "preferiti" label="Preferiti"></optgroup>
            <%= render 'layouts/airports' %>
        </select>
        <br/><br/>
        <label>Città di arrivo</label>
        <select id="cittaArrivo">
            <option value="none" disabled selected>Seleziona la città di arrivo</option>
            <optgroup id = "preferiti" label="Preferiti"></optgroup>
            <%= render 'layouts/airports' %>
        </select>
    </div>

    <div class="left_alignment" style="width: 2%;"></div>

    <div class="left_alignment">
        <form action="#"  class="calendar_style">
            <label> Andata: </label>
            <input type="text" id="dataAndata" class="datepicker"><br/><br/>
            <label>
                <input type="checkbox" class="filled-in" id="check" OnClick="abilitaRitorno(this);" />
                <span id="a">Ritorno:</span>
            </label>
            <input type="text" id="dataRitorno" disabled="true" class="datepicker"><br/><br/>
        </form>
    </div>

    <div class="left_alignment">
        <label>Passeggeri:</label>
        <a id="a-" class="btn-floating btn-small waves-effect black"><i class="material-icons">remove</i></a>
        <label id="passeggeri">1</label>
        <a id="aadd" class="btn-floating btn-small waves-effect black"><i class="material-icons">add</i></a>
    </div>
    <div style="clear:both;"></div>
    <br/>

</div>
