<div id="dinamic_container">
    
    <div class="left_alignment">
        <label>Città di partenza</label>
        <select id="cittaPartenza" class="browser-default" >
            <option value="none" disabled selected>Seleziona la città di partenza</option>
            <option value="rome">Roma</option>
            <option value="mila">Milano</option>
            <option value="trn">Torino</option>
        </select>
        <br/><br/>
        <label>Città di arrivo</label>
        <select id="cittaArrivo" class="browser-default">
            <option value="none" disabled selected>Seleziona la città di arrivo</option>
            <option value="rome">Roma</option>
            <option value="mila">Milano</option>
            <option value="trn">Torino</option>
        </select>
    </div>

    <div class="left_alignment" style="width: 2%;"></div>

    <div class="left_alignment">
        <form action="#"  class="calendar_style">
            <label> Andata: </label> 
            <input type="date" id="dataAndata"><br/><br/>
            <label>
                <input type="checkbox" class="filled-in" id="check" OnClick="abilitaRitorno(this);" />
                <span id="a">Ritorno:</span> 
                <input type="date" id="dataRitorno" disabled="true">
            </label>
        </form>
    </div>
    <div style="clear:both;"></div>
    <br/>

</div>
